[submodule "/home/zilli/dotfiles/yazi/.config/yazi/flavors/tokyo-night.yazi"]
	path = /home/zilli/dotfiles/yazi/.config/yazi/flavors/tokyo-night.yazi
	url = git@github.com:BennyOe/tokyo-night.yazi.git
